[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
requests = "*"

[dev-packages]
pytest = "*"
coverage = "*"
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"


[requires]
python_version = "3.12"

[scripts]
format = "black ."
lint = "flake8 ."
sort-imports = "isort . --profile black"
test = "bash -c 'PYTHONPATH=. pytest'"
test-cov = "bash -c 'PYTHONPATH=. coverage run -m pytest'"
test-report = "coverage report"
test-html = "coverage html"
test-all = "bash -c 'PYTHONPATH=. coverage run -m pytest && coverage report'"
